<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新しい部屋を作る</title>
</head>
<body>
    <p>部屋の大きさを指定してください。</p>
    <form>
        <input id="width" title="width" type="text">
        <input id="height" title="height" type="text">
    </form>

        <p>使わない座席の番号を指定してください。</p>
    <form>
        <input id="unused_seat" title="width" type="text">
    </form>

        <p>初期配置を指定してください。</p>
    <form>
        <input id="positions" title="positions" type="text">
    </form>

    <form>
        <button id="submit" name="submit" type="submit">部屋を作成</button>
    </form>
</body>
</html>