<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>部屋の状況</title>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="../static/rooms.js?cb="></script>
</head>

<body>
<div id="seats">
    {% for s in seats %}
        {{ s }}
    {% endfor %}
</div>
<form action="./{{ room.id }}" method="post">
    <p>
    <label><input type="radio" name="command" value="change" checked="checked"> 席を交換する</label>
    <label><input type="radio" name="command" value="request"> 場所替えを要請する</label>
    <label><input type="radio" name="command" value="decline"> 場所替えを断る</label>
    </p>
    <p>
        <input type="text" title="pos1" name="pos1">
        <span id="s1">と</span>
        <input type="text" title="pos2" name="pos2">
        <span id="s2">が席を交換する</span>
    </p>
    <p>
        <button id="submit" name="submit" type="submit">部屋を作成</button>
    </p>
</form>
</body>
</html>